<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/core.css" %}">
</head>
<body>
    <div id="search">
        <form method="GET" id="search_form" action="#">
            <input type="text" name="instance" class="form-control mb-2"/>
            <input id="search_button" type="button" name="button" class="btn btn-outline-primary" value="Найти"/>
        </form>
    </div>
    <div id="news"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/core.js" %}"></script>
</body>

</html>